# requirements.txt
# COVID-19 Data Engineering Project — 2023
# Chandra Kanth Darapeneni

pandas==2.0.3
numpy==1.25.2
requests==2.31.0
plotly==5.17.0
dash==2.14.0
dash-bootstrap-components==1.4.1
SQLAlchemy==2.0.20
python-dotenv==1.0.0
tqdm==4.65.0
colorama==0.4.6
